<div class="navbar-me">
    <div class="navbar-wrapper-me">
        <div class="logo-wrapper">
            <p class="logo">LOGO</p>
        </div>
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Arama yap...">
            <button id="search-button"><i class="bi bi-search"></i></button>
        </div> 
        <div class="menu-container">
            <div >
                <ul class="menu-list">
                    <li class="menu-item"><a routerLink="/city" class="link" > Ana Sayfa</a></li>
                    <li class="menu-item"> <a href="" class="link">Seyehat Listesi</a> </li>
                    <li class="menu-item"><a routerLink="/about" class="link" target="_blank">Hakkımızda</a></li>
                </ul>
            </div>
           
        </div>
        <div class="profile-container">
                <button id="profile-button">
                <!-- <img class="profile-picture" src="C:\Users\Aleyna Kocaman\Desktop\travelerRoute\image.jpg" alt=""> -->
                </button> 
        </div> 
    </div>
</div>

<!-- <div class="category-container">
    <ul class="category-list">
        <li class="category-item">  Karadeniz Bölgesi</li>
        <li class="category-item">Marmara Bölgesi</li>
        <li class="category-item">Güneydoğu Anadolu Bölgesi</li>
        <li class="category-item">Doğu Anadolu Bölgesi </li>
        <li class="category-item"> İç Anadolu Bölgesi</li>
        <li class="category-item">Ege Bölgesi</li>
        <li class="category-item">Akdeniz Bölgesi</li>
    </ul>
</div> -->

